@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap");

/**************************
 * Variables definition
 **************************/
:root {
  --ff-karla: Karla, sans-serif;
  --ff-markazi: "Markazi Text", sans-serif;
  --fw-karla-thin: 100;
  --fw-karla-normal: 300;
  --fw-karla-bold: 500;
  --fw-karla-bolder: 800;
  --fw-markazi-thin: 400;
  --fw-markazi-normal: 500;
  --fw-markazi-bold: 600;
  --fw-markazi-bolder: 700;

  --ll-color-green: rgb(73, 94, 87);
  --ll-color-yellow: rgb(255, 205, 56);
}

body {
  margin: 0;
}

input,
select {
  font-family: var(--ff-karla);
  font-size: 1rem;
  font-weight: var(--fw-karla-normal);
}

.outOfScope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/**************************
 * Navigation bar setup
 **************************/
.navbarGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  max-width: 58%;
}
.navbarLogo {
  display: flex;
  grid-column: span 3;
  margin: 1.2rem 0;
}
.navbarImage {
  max-width: 12rem;
  width: 100%;
}
.navbarOptions {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-karla), sans-serif;
  font-size: calc(0.3rem + 1vw);
  font-weight: var(--fw-karla-bolder);
  grid-column: span 7;
  justify-content: space-around;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

/* if smart phone device */
@media (max-width: 900px) {
  .navbarGrid {
    max-width: 95%;
  }
}

/**************************
 * Header setup
 **************************/
.headerCenter {
  background-color: var(--ll-color-green);
  height: 18rem;
}
.headerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
  max-width: 58%;
}

/**************************
 * Booking setup
 **************************/
.bookingGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  justify-content: center;
  max-width: 58%;
}
.bookingFields {
  display: grid;
  flex-direction: column;
  font-family: var(--ff-karla), sans-serif;
  font-size: calc(0.3rem + 1vw);
  font-weight: var(--fw-karla-bold);
  gap: 20px;
  grid-column: span 2;
  padding: 0;
  text-align: left;
}
